[submodule "JSONKit"]
	path = JSONKit
	url = git@github.com:johnezang/JSONKit.git
[submodule "qhac-common"]
	path = qhac-common
	url = git@github.com:quickhac/qhac-common.git
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = git@github.com:ECSlidingViewController/ECSlidingViewController.git
[submodule "JMNoise"]
	path = JMNoise
	url = git@github.com:jasonmorrissey/JMNoise.git
[submodule "InAppSettingsKit"]
	path = InAppSettingsKit
	url = git@github.com:futuretap/InAppSettingsKit.git
[submodule "MGSplitViewController"]
	path = MGSplitViewController
	url = git@github.com:mattgemmell/MGSplitViewController.git
